# Gemini Api

GEMINI_API_KEY=AIzaSyCjflyey0mdg29rc99EDpAUIj9l6we13ro

# NextAuth

NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key"

# Golang API

NEXT_PUBLIC_SERVER_API_URL="http://localhost:8080/"

# Developer

NODE_ENV=dev

# Cloudinary - TANPA NEXT*PUBLIC* untuk API routes

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Pinata Cloud

PINATA_API_KEY=
PINATA_API_SECRET=
PINATA_JWT=
PINATA_GATEWAY=

# IPFS

NEXT_PUBLIC_BASE_URI=
NEXT_PUBLIC_IPFS_GATEWAY=https://ipfs.io/ipfs/

# CLIENT API URL

NEXT_PUBLIC_CLIENT_API_URL="http://localhost:3000/"
