GEMINI_API_KEY=

# NextAuth
NEXTAUTH_URL=
NEXTAUTH_SECRET=
# Golang API
SERVER_API_URL=
# Developer
NODE_ENV=dev
# Cloudinary - TANPA NEXT_PUBLIC_ untuk API routes
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Pinata Cloud
PINATA_API_KEY=
PINATA_API_SECRET=
PINATA_JWT=
PINATA_GATEWAY=

# IPFS
NEXT_PUBLIC_BASE_URI=