AVATAR="https://res.cloudinary.com/detetmaw8/image/upload/v1758013653/forum-comments/xzfg7jskt08evwbdh0n5.png"

# Jwt Config
JWT_SECRET=


# Database Config
HOST="localhost"
USER="postgres"
PASSWORD="postgres"
DBNAME="postgres"
PORT="5432"